@{
    ViewBag.Title = "About";
}

    <div id="contact-page" class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <p>
                    Inició su andadura en el 2004, con todo el camino por recorrer pero con mucha ilusión. Desde entonces, establecemos la satisfacción de nuestros clientes como principal objetivo. Tras más de 10 años de trabajo, contamos con dos establecimientos: uno en San Pedro del Pinatar y otro en el Pilar de la Horadada. Actualmente, trabajamos para ser un referente en papelería, librería y artículos de regalo en la zona.

                    Nuestro último proyecto es está página web, cargada de horas de trabajo y mucha más ilusión, con la esperanza de ofrecer a nuestros clientes un mejor servicio, como siempre hemos intentado hacer.
                </p>
                <p>
                    En nuestros establecimientos puedes encontrar:
                </p>
                <ul>
                    <li>- Una de las mayores variedades de Mochilas escolares de la región.</li>
                    <li>
                        - Todo tipo de Artículos de regalo para acertar siempre.
                    </li>
                    <li>
                        - Artículos de Papelería escolares, de oficina, etc.
                    </li>
                    <li>
                        - Libros, tanto de Lectura como de Texto.
                    </li>
                    <li>
                        - Artículos de Manualidades DIY para tu Scrapbooking o cualquier otra manualidad.
                    </li>
                    <li>
                        - Revistas y Periódicos.
                    </li>
                    <li>
                        - Fotocopias, encuadernado y plastificado.
                    </li>
                    <li>
                        - Servicio de Fax.
                    </li>
                    <li>
                        - Recarga de móviles.
                    </li>
                    <li>
                        Visítanos y te sorprenderá.
                    </li>
                </ul>

                <hr />

            </div>
            <div class="col-sm-4 col-sm-offset-1">

                <img src="~/Content/Images/about_us.jpg" alt="" width="425px">

            </div>

        </div>

    </div>
